*{
  box-sizing: border-box;
}
header {
  background-color: #ffffff;
  overflow: auto;
  border-bottom: 3px solid;
  border-color: #cccccc;
  height: 80px;
}
body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url("../images/qbkls.png");
  background-size: cover;
  margin: 0;
}
h1, h2 {
  font-family: 'Georgia', Times, "Times New Roman", serif;
}
h1 {
  float:left;
  background-color: #4aaaa5;
  color: #ffffff;
  height: 100%;
}
h2 {
  color: #4aaaa5;
  border-bottom: 3px solid;
  margin: 20px 10px 20px 0;
  border-color: #cccccc;
  padding-bottom: 17px;
}
p {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}
input, textarea {
  width: 100%;
  border: 1px solid #dddddd;
  margin: 5px auto;
  padding: 5px 10px;
}
form {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
label {
  color: #777777;
}
textarea {
  height: 200px;
  display: block;
  margin: 5px 0;
}
footer {
  height: 80px;
  padding-top: 50px;
  border-top: 10px solid;
  border-color: #4aaaa5;
  background-color: #666666;
  color: #ffffff;
  text-align: center;
  width: 100%;
}
#myName {
  margin:0;
  padding: 15px 15px 0 15px;
  height: 80px;
}
#profileImg {
  float:left;
  width: 250px;
  height: auto;
  margin: 0 10px;
}
#pic1 {
  background-image: url("https://picsum.photos/300/200/?image=0");
}
#pic2 {
  background-image: url("https://picsum.photos/300/200/?image=12");
}
#pic3 {
  background-image: url("https://picsum.photos/300/200/?image=25");
}
#pic4 {
  background-image: url("https://picsum.photos/300/200/?image=23");
}
#pic5 {
  background-image: url("https://picsum.photos/300/200/?image=47");
}
.container {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  width: 960px;
  padding: 0 20px 30px 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin: 20px auto 20px auto;
  overflow: hidden;
}
.container-wrapper {
  min-height: calc(100vh - 198px);
}
.copyright{
  opacity: 0.5;
}
.header-640{
  display: none;
}
.header-wrapper {
  width: 960px;
  margin: auto;
}
.nav-container {
  float: right;
  margin: 25px 10px;
}
.panel {
  height: 200px;
  width: 300px;
  background-color: grey;
  position: relative;
  float: left;
  margin: 18px 36px 18px 0;
}
.panel-title {
  background-color: #4aaaa5;
  color: #ffffff;
  height: 60px;
  text-align: center;
  padding: 20px;
  width: 100%;
  position: absolute;
  bottom: 10px;
}
.submit {
  background-color: #4aaaa5;
  color: #ffffff;
  border: none;
  padding: 8px 25px;
  margin-top: 10px;
}
a.nav.active {
  text-decoration: underline;
}
a.nav.middle {
  border-color: #777777;
  border: 1px;
  border-style: none solid;
}
a.nav {
  padding: 0 10px;
  font-size: 20px;
  width: 10%;
  text-decoration: none;
  color: #777777;
}
a.nav:hover {
  color:red;
}

@media screen and (max-width:980px) {
  .container {
    width: 58%;
    margin-left: 50px;
  }
  .header-wrapper {
    margin-left:50px;
  }
  .nav-container {
    margin-top: 25px;
    position: absolute;
    right: 30px;
  }
  #profileImg {
    width: 200px;
  }
  .panel {
    width: 40%;
    height: calc(25vw * 200/300);
    background-size: contain;
  }
}
@media screen and (max-width:768px) {
  .container {
    width: 93.99%;
    margin-left: 25px;
  }
  .header-wrapper {
    margin-left:25px;
  }
  .nav-container {
    margin: 25px 0px;
    position: absolute;
    right: 20px;
  }
  #profileImg {
    width: 250px;
  }
  .panel {
    width: 40%;
    height: calc(35vw * 200/300);
  }
}
@media screen and (max-width:640px) {

  header {
    display: none;
  }
  .container {
    width: 90%;
    margin: 10px auto;
  }
  .header-640 {
    background-color: #ffffff;
    overflow: auto;
    border-bottom: 3px solid;
    border-color: #cccccc;
    height: 120px;
    display: block;
  }
  .header-640 > h1 {
    width: 100%;
    height: 60px;
    text-align: center;
    margin-top:0;
    padding-top: 10px;
  }
  .nav-container-640 {
    width: 100%;
    background-color: #ffffff;
    text-align: center;

  }
  .panel {
    width: 92%;
    height: calc(75vw * 200/300);
  }
  #profileImg {
    max-width: 50%;
  }
}
